html {height: 100%;}
body {
    min-height: 100%;
    padding-bottom: 146px;
    position: relative;
    font-family: Roboto;
    margin: 0;
}

input, select, textarea, table, p, h2 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body, input, textarea, select {
    color: #2A2F35;
    font-size: 16px;
    font-weight: 300;
}
article, body, div, a, p, button, input, select, textarea, table, span, h1 {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #00AEEF;
}
a:hover {color: #0096CE;}
h1 {
    font-weight: 300;
    font-size: 35px;
    margin: 0;
}
h2 {font-size: 25px;}
.h {display: none;}
.clearable-after:after, .clearable-before:before {
    content: "";
    display: block;
    height: 1px;
    clear: both;
}
img {border: 0 none;}

/* основные элементы */
input, textarea, select, .multiselect {
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.2) inset;
}
input, textarea {
    margin: 10px 0;
    width: 100%;
}
input {
    height: 45px;
    font-size: 16px;
    padding: 0 13px;
}
input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0 4px 0 0;
    position: relative;
    top: 1px;
    vertical-align: baseline;
}
input[type="file"] {
    height: auto;
    padding: auto;
    box-shadow: none;
    width: auto;
    margin: 0;
}
textarea {
    padding: 9px 4px 4px 13px;
    resize: vertical;
    min-height: 136px;
}

/* фейкоссылки */
.fake_link {
    color: #00AEEF;
    border-bottom: 1px dashed #00AEEF;
    cursor: pointer;
}
.fake_link-red{
    color: #C60909;
    border-bottom: 1px dashed #C60909;
    cursor: pointer;
}

/* мультиселект */
.multiselect {
    background-color: white;
    line-height: 22px;
    overflow: hidden;
    max-height: 32px;
    padding: 4px 10px 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.multiselect:hover {
    max-height: 500px;
}
.multiselect::before {
    content: attr(placeholder);
}
.multiselect[data-count]::before {
    content: attr(placeholder) ' (' attr(data-count) ')';
}
.multiselect_option {
    display: block;
    margin: 4px 0;
    cursor: pointer;
}
.multiselect_option:first-child {
    margin-top: 10px;
}