/*
 * Список статей
 */
.articleList_h1 {margin: 28px 20px 0;}
.articleList {padding: 10px 0;}
.articleList_item {
    border-bottom: 1px solid #eeeeef;
    padding: 13px 10px 20px 20px;
    min-height: 90px;
}
.articleList_item:hover {background-color: #F7F7F7;}
.articleList_section {
    font-size: 16px;
    display: inline-block;
}
.articleList_section {color: #8B919F;}
.articleList_section:hover {color: #6BBBD5;}

/* фоточки */
.articleList_photos {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 0;
    max-width: 400px;
    overflow: hidden;
    height: 70px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.articleList_photo {
    display: inline-block;
    height: 70px;
    margin-right: 4px;
    vertical-align: top;
}
.articleList_countPhotos {
    width: 60px;
    height: 70px;
    display: inline-block;
    color: white;
    font-size: 16px;
    vertical-align: top;
    text-align: center;
    padding-top: 13px;
    background: url('/pics/svg/photo.svg') center 38px no-repeat #25A874;
}
.articleList_countPhotos:hover {color: white;}

.articleList_info {margin-top: 2px;}
.articleList_photos ~ .articleList_info {margin-right: 400px;}
.articleList_name {
    line-height: 30px;
    font-weight: 300;
    margin-top: 2px;
}

.articleList_item[data-is_fav="0"]:not(:hover) .fav {display: none;}
