.article {
    position: relative;
    padding-left: 138px;
    margin-top: 34px;
    padding-bottom: 100px;
}

.article_name {
    font-size: 45px;
    line-height: 54px;
    margin: 9px 0 0;
}
.article_author {
    position: absolute;
    top: 44px;
    left: 0;
    width: 80px;
    text-align: right;
    cursor: pointer;
}
.article_author_ava {
    max-width: 60px;
    max-height: 60px;
    border-radius: 32px;
}
.article_author_name {
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
}
.artictle_type {
    margin-top: 1px;
    font-size: 11px;
    color: #818181;
}

.article_content {
    margin-top: 20px;
    padding-left: 2px;
    padding-bottom: 38px;
}
.article_p {margin: 22px 0;}
.article_video {margin: 20px 0 34px;}
.article_photo {
    font-size: 0;
    margin: 38px 0 34px;
}
.article_img {
    max-width: 100%;
    max-height: 800px;
}
.article_imgDesc {
    margin: 16px 0 11px;
    font-size: 14px;
    font-style: italic;
    color: #585C65;
    display: block;
}
.article_source {
    font-size: 13px;
    font-weight: 500;
    margin-top: -8px;
}
.article_source_link {
    color: #8B919F;
    font-weight: 300;
    margin-left: 3px;
}

.article_actions {
    float: right;
    width: 300px;
    text-align: right;
}

.article_tags {
    font-size: 13px;
    font-weight: 500;
    margin: 4px 310px 0 3px;
}
.article_tags .tag:first-child {margin-left: 10px;}