/*
 * Список статей
 */
.articleList {
    padding: 10px 0;
}
.articleList_item {
    border-bottom: 1px solid #eeeeef;
    padding: 16px 10px 16px 20px;
}
.articleList_stat {
    float: right;
    margin-top: 24px;
    width: 110px;
}
.articleList_author {
    font-size: 13px;
    cursor: pointer;
}
.articleList_comments {
    font-size: 13px;
    color: #8B919F;
    padding-left: 30px;
    padding-bottom: 2px;
    background: url('/pics/svg/comments.svg') 0 3px no-repeat;
    margin-top: 5px;
}
.articleList_photo {
    float: left;
    width: 180px;
    font-size: 0;
}
.articleList_photo + .articleList_info {margin-left: 208px;}
.articleList_info {
    margin-right: 140px;
}
.articleList_section {
    font-size: 14px;
    color: #8B919F;
    margin-top: 5px;
    display: inline-block;
}
.articleList_section:hover {color: #6BBBD5;}
.articleList_name {
    line-height: 34px;
}

.articleList_item[data-is_fav="0"]:not(:hover) .fav {display: none;}
