.articleEdit {
    margin-top: 30px;
}
.articleEdit_field {
    margin: 10px 0;
}
[class|="articleEdit_element"] {
    padding: 4px 8px;
}
.articleEdit_element-select {}
.articleEdit_element-ta {}
.articleEdit_element-input {
    
}

.articleEdit_element-input[name="name"] {
    font-size: 20px;    
    width: 100%;
}
.articleEdit_element-input[name="ext_link"] {width: 400px;}
