body, input, select, textarea, p, h2 {
    margin: 0;
    padding: 0;
    font: 300 16px Roboto;
}
body {color: #2A2F35;}
div, a, p, input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #00AEEF;
}
a:hover {color: #0096CE;}
h2 {font-size: 28px;}
.h {display: none;}
.clearable-after:after, .clearable-before:before {
    content: "";
    display: block;
    height: 1px;
    clear: both;
}