body, input, select, textarea, p {
    margin: 0;
    padding: 0;
    font: 16px Roboto;
}
body {color: #2A2F35;}
div, a, p, input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.h {display: none;}