.article {
    position: relative;
    padding-left: 138px;
    margin-top: 34px;
    padding-bottom: 100px;
}

.article_name {
    font-size: 45px;
    line-height: 54px;
    margin: 9px 0 0;
}
.article_author {
    position: absolute;
    top: 44px;
    left: 0;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.article_author_ava {
    max-width: 60px;
    max-height: 60px;
    border-radius: 32px;
}
.article_author_name {
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
}
.artictle_type {
    margin-top: 1px;
    font-size: 11px;
    color: #818181;
}

.article_content {
    margin-top: 20px;
    padding-left: 2px;
    padding-bottom: 6px;
}
.article_cut {
    border: 1px solid #d9d9d9;
    overflow: hidden;
    height: 30px;
}
.article_cut._expanded {
    padding: 0 0 10px 10px;
    height: auto;
}
.article_cutText {
    position: relative;
    font-weight: 400;
    background-color: #efefef;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 26px;
    cursor: pointer;
}
.article_cut._expanded .article_cutText {
    margin-left: -10px;
}
.article_cutText:before {
    position: absolute;
    content: "+";
    font-weight: 300;
    left: 6px;
    top: 7px;
    height: 13px;
    width: 13px;
    line-height: 10px;
    border: 1px solid #d9d9d9;
    background-color: white;
    text-align: center;
}
.article_cut._expanded .article_cutText:before {
    content: "-";
}
.article_cutText:after {
    content: ' (Нажмите, чтобы показать текст)';
    font-style: italic;
    font-size: 13px;
    font-weight: 300;
}
.article_cut._expanded .article_cutText:after {
    content: ' (Нажмите, чтобы свернуть текст)';
}
.article_p {margin: 22px 0;}
.article_video, .article_table {margin: 20px 0 34px;}
.article_photo {
    font-size: 0;
    margin: 38px 0 34px;
}
.article_img {
    max-width: 100%;
    max-height: 800px;
}
.article_imgDesc {
    margin: 16px 0 11px;
    font-size: 14px;
    font-style: italic;
    color: #585C65;
    display: block;
}
.article_source {
    font-size: 15px;
    font-weight: 500;
}
.article_source:before {
    content: attr(data-text) ':';
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.article_source_link {
    color: #6bbbd5;
    font-weight: 300;
    margin-left: 3px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 360px;
    display: inline-block;
}

.article_actions {
    float: right;
    text-align: right;
}
.article_actions [class|="button"], .article_actions .button {margin-left: 10px;}

.article_bottom {
    padding: 14px 0 16px;
    min-height: 55px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.article_tags {
    font-size: 13px;
    font-weight: 500;
    margin: 17px 10px 0 1px;
    line-height: 24px;
}
.article_tags .tag:first-child {margin-left: 10px;}
