.articleEdit {margin-top: 30px;}

/* блоки */
.articleEdit_field {margin: 14px 0;}
[class|="articleEdit_block"], .articleEdit_block {
    background-color: #EFEFEF;
    border-radius: 4px;
    height: 50px;
    padding: 0 10px;
    line-height: 49px;
}
.articleEdit_block-section {
    float: left;
    width: 270px;
}
.articleEdit_block-model {
    margin-left: 280px;
    font-size: 15px;
    padding-left: 20px;
    line-height: 50px;
}

/* элементы */
[class|="articleEdit_element"] {padding: 4px 8px;}
[class|="articleEdit_block"] [class|="articleEdit_element"], .articleEdit_block [class|="articleEdit_element"] {
    font-size: 15px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.articleEdit_element-select {width: 250px;}
.articleEdit_element-ta {min-height: 300px;}
.articleEdit_element-input {}
.articleEdit_element-input[name="name"] {
    font-size: 20px;    
    width: 100%;
}
.articleEdit_element-input[name="ext_link"] {
    width: 690px !important;
    margin-left: 16px;
}
.articleEdit_element-input[name="tag"] {
    font-size: 15px;
    height: 30px;
    margin-bottom: 3px;
}

/* разделы */
.articleEdit_block-section .multiselect {
    margin-top: 9px;
}

/* выбор моделей */
.articleEdit_model {display: none;}
.articleEdit_modelName {
    cursor: pointer;
    background-color: #9fbdc7;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 6px;
    padding: 3px 11px;
    position: relative;
}
.articleEdit_model:checked + .articleEdit_modelName {background-color: #296468;}

/* загрузчик картинок */
.articleEdit_upload {position: relative;}
.articleEdit_uploader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.articleEdit_photos {font-size: 0;}
.articleEdit_photo {
    position: relative;
    display: inline-block;
    padding: 6px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.articleEdit_photo:before {
    content: attr(data-photo_num);
    position: absolute;
    left: 6px;
    top: 6px;
    color: white;
    padding: 2px 5px;
    background-color: rgba(28, 125, 110, 0.7);
}
.articleEdit_photo:hover {background-color: #B8CDCB;}
.articleEdit_photo_img {
    max-width: 100px;
    max-height: 80px;
    cursor: pointer;
    display: block;
}

/* тэги */
.articleEdit_tags {margin-left: 66px;}
.articleEdit_tags_title {
    font-size: 15px;
    font-weight: bold;
    float: left;
    width: 54px;
    text-align: right;
    margin-top: 14px;
}
.articleEdit_tags_notice {
    font-size: 12px;
    color: #8B919F;
    margin-left: 15px;
}
