.info {
    margin: 28px 20px;
    background-color: #EFEFEF;
    border-radius: 3px;
    padding: 25px 40px 32px;
    color: #585C65;
}
.info_title {font-weight: 300;}
.info_text {
    margin-top: 3px;
    font-size: 16px;
}
