.login {
    position: absolute;
    top: 43px;
    left: 50%;
    cursor: pointer;
    margin-left: -69px;
    padding-left: 33px;
    font-size: 15px;
    line-height: 24px;
    height: 24px;
    color: #8b919f;
    background: url('/pics/svg/login.svg') 0 center no-repeat;
}
.login:hover {color: #6BBBD5;}
.login._active {color: white;}
.login .bubble {
    width: 240px;
    margin-left: -102px;
    padding: 15px 20px;
    display: none;
}
.login._active .bubble {display: block;}
[class|="login_link"] {
    padding-left: 44px;
    margin-bottom: 6px;
    border-radius: 3px;
    font-size: 16px;
    color: white !important;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}
.login_link-vk {
    background-color: #597DA3;
    background-image: url('/pics/svg/social/vk.svg');
}
.login_link-vk:hover {background-color: #4F6E8F;}
.login_link-fb {
    background-color: #3B5998;
    background-image: url('/pics/svg/social/fb.svg');
}
.login_link-fb:hover {background-color: #324A80;}
.login_hint {
    text-align: center;
    margin-top: 15px;
    line-height: 140%;
    font-size: 13px;
    color: #2A2F35;
}