.paginator {
    text-align: center;
    font-size: 17px;
}
.paginator_page {
    color: #8B919F;
}
.paginator_pages {
    
}
.paginator_dots {
    
}
.paginator_pages .paginator_page {
    padding: 4px 10px 3px;
}
.paginator_page._cur {
    background-color: #585C65;
    color: white;
}
