.profile_h1 {
    margin-top: 40px;
    font-size: 35px;
    padding: 0 20px;
}
.profile_prev, .profile_ava_upload {
    cursor: pointer;
    font-weight: 300;
}
.profile_prev {
    margin-left: 10px;
    font-size: 14px;
}

[class|="profile_block"], .profile_block {
    position: relative;
    padding: 20px 40px 12px 260px;
    border-top: 1px solid #EEEEEF;
}
.profile_block-info {
    min-height: 268px;
    padding-top: 17px;
}
[class|="profile_block"]:first-child, .profile_block:first-child {border-top: 0 none;}
.profile_block[data-label]:before {
    content: attr(data-label);
    position: absolute;
    width: 222px;
    top: 22px;
    left: 0;
    font-size: 25px;
    text-align: right;
}

.profile_ava {
    position: absolute;
    top: 26px;
    left: 20px;
    width: 180px;
    text-align: center;
}
.profile_ava_upload {
    font-size: 13px;
    position: relative;
}
.profile_upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.profile_social {
    margin: 10px 0 18px;
}
.profile_social[data-label]:before {
    content: attr(data-label) ':';
    display: inline-block;
    vertical-align: middle;
    padding-right: 18px;
    width: 128px;
    text-align: right;
}
.profile_social_name {
    font-weight: bold;
    vertical-align: middle;
}
.profile_social_show {
    float: right;
    margin: 5px 3px 0 0;
    font-size: 13px;
}
.profile_auth {
    vertical-align: middle;
    display: inline-block;
    width: 235px;
}

[class|="profile_link"] {
    display: block;
    padding: 0 20px 0 50px;
    background-repeat: no-repeat;
    background-position: 1px center;
}
.profile_link-d2 {
    background-image: url('/pics/svg/link/d2.svg');
}
.profile_link-own {
    background-image: url('/pics/svg/link/own.svg');
}


.profile_footer {
    background-color: #F5F5F5;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.profile_footer .profile_block {
    padding-top: 32px;
    font-size: 0;
}
.profile_save {
    height: 50px;
    width: 320px;
    border-color: #00AEEF;
    color: #00AEEF;
    font-size: 18px;
    vertical-align: middle;
}
.profile_save:hover {
    color: white;
    background-color: #00AEEF;
}
.profile_save:disabled {
    color: #CDCDCD;
    border-color: #CDCDCD;
    background-color: transparent;
}
.profile_errors {
    vertical-align: middle;
    display: inline-block;
    margin-left: 18px;
    font-size: 13px;
}
.profile_error {
    
}
