[class|="socialButton"] {
    padding-left: 44px;
    border-radius: 3px;
    font-size: 16px;
    color: white !important;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}
.socialButton-vk {
    background-color: #597DA3;
    background-image: url('/pics/svg/social/vk.svg');
}
.socialButton-vk:hover {background-color: #4F6E8F;}
.socialButton-fb {
    background-color: #3B5998;
    background-image: url('/pics/svg/social/fb.svg');
}