[class|="bubble"] {
    position: absolute;
    cursor: auto;
    top: 100%;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    margin-top: 15px;
    z-index: 10;
}
[class|="bubble"]:before {
    content: "";
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    background-color: inherit;
    box-shadow: -3px -3px 5px -3px rgba(0,0,0,0.5);
    z-index: -1;
    -webkit-transform: scale(1, 0.5) rotate(45deg);
        -ms-transform: scale(1, 0.5) rotate(45deg);
            transform: scale(1, 0.5) rotate(45deg);
}

.bubble-white {background-color: white;}
.bubble-grey {background-color: #585c65;}
