button, [class|="button"], .button {
    background-color: white;
    font-size: 13px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
    height: 25px;
    line-height: 20px;
    color: #2A2F35;
    border-color: #585C65;
    font-family: Roboto;
    padding: 0 7px;
}
.button-blue {
    color: #00AEEF;
    border-color: #00AEEF;
}
