.head {
    height: 100px;
    background-color: #2A2F35;
}
.head_logo {
    position: absolute;
    top: 25px;
    left: 20px;
    display: block;
    font-size: 0;
}
.head_search {
    position: absolute;
    top: 30px;
    right: 0;
    width: 220px;
    height: 30px;
    font-size: 14px;
    background: url('/pics/svg/search.svg') 194px center/16px no-repeat #464A52;
    color: #8d8f93;
    border: 0 none;
    border-radius: 4px;
    padding: 0 30px 0 14px;
}
