[class|="auth"] {
    position: absolute;
    top: 30px;
    left: 50%;
    cursor: pointer;
    margin-left: -69px;
    font-size: 0;
    line-height: 45px;
    height: 45px;
    max-width: 200px;
}
.auth_avatar {
    max-width: 25px;
    max-height: 25px;
    border-radius: 12px;
    margin-right: 10px;
    vertical-align: middle;
}
.auth_name {
    color: #8b919f;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    max-width: 160px;
    line-height: 17px;
}
[class|="auth"]:hover .auth_name {color: #6BBBD5;}
[class|="auth"]._active .auth_name {color: white;}

[class|="auth"] [class|="bubble"] {display: none;}
[class|="auth"]._active [class|="bubble"] {display: block;}
[class|="auth"] .bubble-white {
    width: 240px;
    margin-left: -102px;
    padding: 15px 20px;
}
[class|="auth"] .bubble-grey {
    width: 180px;
    margin-left: -80px;
}